{
  "all": true,
  "check-coverage": true,
  "include": ["src"],
  "exclude": ["src/classes/SmsClient.js", "src/types"],
  "output": "reports",
  "reporter": ["text", "clover", "lcov"],
  "branches": 50,
  "lines": 50,
  "functions": 50,
  "statements": 50
}
